.profile-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 2rem;
}

.photo-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  border: 2px solid var(--primary);
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-title {
  margin: 0 !important;
}

.profile-name {
  margin: 0 !important;
}


.container {
  max-width: 1200px;
}

